extends layout

block hero-unit
  .jumbotron
    .container
      h1 60145168 구혜영

block content
  .container
    .form(action='/', method='POST')
      .col-xs-2
        p City
        input.form-control(type='text', id='q', size=20, placeholder='위치')
        //i.fa.fa-spin.fa-spinner
        ul.suggest-box
      .col-xs-3
        p Check in
        input.form-control(type='date', id='deadline', name='deadline')
      .col-xs-3
        p Check out
        input.form-control(type='date', id='deadline', name='deadline')
      .col-xs-3
        p Poeple
        input.form-control(type='text', id='p', size=20, placeholder='인원')
        ul.suggest-box
      // a.btn.btn-default.btn-mini(href='/submit') 검색
      .col-xs-3
        a.btn.btn-default.btn-mini(href='/books') 검색

   script(src='/javascripts/autocomplete.js')
