extends layout

block hero-unit
  .jumbotron
    .container
      h1 60145168 구혜영

block content
  .container
    .form(action='/', method='POST')
      input.form-control(type='text', id='q', size=20, placeholder='위치')
      // i.fa.fa-spin.fa-spinner
      ul.suggest-box

      .col-md-6
        p Check in
        input.form-control(type='date', id='deadline', name='deadline')
      .col-md-6
        p Check out
        input.form-control(type='date', id='deadline', name='deadline')

        br
      
      input.form-control(type='text', id='p', size=20, placeholder='인원')
      ul.suggest-box
      // a.btn.btn-default.btn-mini(href='/submit') 검색
      a.btn.btn-default.btn-mini(href='/books') 검색

    .row
      .col-md-6
        h3 서비스 목적
        p 본 서비스는 웹프로그래밍 수업을 위해서 sample로 만들어보는 것입니다. 
      .col-md-6
        h3 주요 기능
        ul
          li 사용자 관리
          li 할 일 기록
          li 기록 내용: 분류, 내용, 중요도, deadline
          li 완료된 일 체크
   script(src='/javascripts/autocomplete.js')
